body {
    width: 650px;
    margin: 10px 10px 10px 20px;
    background:#4c4b4b;
    color: white;
    text-align: left;
}

div#header {
    width: 100%;
    height: 32px;
    display: inline-block;
    background: url(../images/arrow-32.png) no-repeat;
}

div h6 {
    margin-left: 40px;
}

div#alert {
    padding: 10px;
}

button {
    background: #008cff;
    color: white;
    width: 100px;
    height: 40px;
    display: block;
    margin: 5px auto;
    float: left;
    border: none;
    border-left: 10px solid white;
    padding: 0;
}

button:hover {
    font-weight: bolder;
}

div#assign_select {
    width: 590px;
    display: inline-block;
}

div#rubrics_overview {
    display: inline-block
}

div#assign_scores {
    display: inline-block;
}

div#overall_rounding {
    width: 100%;
    display: inline-block;
}

#overall_rounding a, #overall_rounding a:visited, #overall_rounding a:hover {
    background-color: white;
    padding: 2px;
    color: #4c4b4b;
}

div#processing {
    float: left;
    margin: 5px auto;
    text-align: center;
    width: 400px
}

div#processing img {
    height: 40px;
    float: left;
}

div#how_to {
    width: 500px;
    display: inline-block;
}

a, a:visited {
    color: #bae0ff;
}

a:hover {
    color: #6abcff;
}

table#submissions {
    width: 85% !important;
}

table#submissions thead {
    height: 120px;
    white-space: nowrap;
    padding: 0 !important;
}

table#submissions thead td {
    vertical-align: bottom;
}

table#submissions th:nth-child(n+2), td:nth-child(n+2) {
    /* Set width on every column after first */
    width: 20px !important;
    padding: 0px !important;
    margin: 0px !important;
}

table#submissions thead td.rotate > div {
    transform: translate(5px, -25px) rotate(-30deg);
    transform-origin: bottom left;
    width: 20px !important;
  }

  table#submissions thead td.rotate {
    width: 20px !important;
    padding-right: 0px !important;
    text-align: right;
  }

  /* fix sort buttons */

  /* table.dataTable ::after {
    top: 80% !important;
    left: 0px;
    right: none !important;
  } */


  table.dataTable thead>tr>th.sorting:after, 
  table.dataTable thead>tr>th.sorting_asc:after, 
  table.dataTable thead>tr>th.sorting_desc:after, 
  table.dataTable thead>tr>th.sorting_asc_disabled:after, 
  table.dataTable thead>tr>th.sorting_desc_disabled:after, 
  table.dataTable thead>tr>td.sorting:after, 
  table.dataTable thead>tr>td.sorting_asc:after, 
  table.dataTable thead>tr>td.sorting_desc:after, 
  table.dataTable thead>tr>td.sorting_asc_disabled:after, 
  table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 90% !important;
    left: 0% !important;
    right: none !important;
    text-align: left;
  }

  table.dataTable thead>tr>th.sorting:before, 
  table.dataTable thead>tr>th.sorting_asc:before, 
  table.dataTable thead>tr>th.sorting_desc:before, 
  table.dataTable thead>tr>th.sorting_asc_disabled:before, 
  table.dataTable thead>tr>th.sorting_desc_disabled:before, 
  table.dataTable thead>tr>td.sorting:before, 
  table.dataTable thead>tr>td.sorting_asc:before, 
  table.dataTable thead>tr>td.sorting_desc:before, 
  table.dataTable thead>tr>td.sorting_asc_disabled:before,
  table.dataTable thead>tr>td.sorting_desc_disabled:before
  {
    top: 80% !important;
    left: 0% !important;
    right: none !important;
    text-align: left;
  }

  table#submissions tr td:nth-last-child(4) {
    color: #ffa4e4; /* missing */
  }

  table#submissions tr td:nth-last-child(1) {
    color: #ffc400; /* point* */
  }

  .point_note {
    color: #ffc400;
  }

  div#submissions_length {
    float: left;
    width: 200px;
  }

  div#submissions_filter {
    margin-top: 0;
    float: right;
    width: 200px;
  }

  div#submissions_filter input {
    
    width: 100px;
  }

table#submissions td.undefined {
    color: #f5ff39;
}
  
  /* table#submission thead {
    height: 6px !important;
  } */

  /* table#submissions thead td.rotate {
    width: 20px;
    padding: 0;
  } */